.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-purple);
  z-index: 666;
}

.link {
  text-decoration: none;
  color: var(--color-light);
  display: inline-block;
  font-size: 24px;
}

.active {
  color: var(--color-blue);
}

